
<!-- About music-releases -->
<section id="error" class="content-section text-center">
  <div class="error-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Page not found</h2>
          <p>
            Woops, the page that you are looking for does not exists.
          </p>
          <p>
            If you think it's a bug please, <a href="{{ site.url }}#contact">let me know.</a>
          </p>
          <p>
            <a href="{{ site.url }}" class="btn btn-default btn-lg">
              Back to normal
            </a>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
