
<!-- About music-releases -->
<section id="music-releases" class="content-section text-center">
  <div class="music-releases-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Store</h2>
        <p>Support my work. Buy merch :-)</p>
        <a href="http://store.j3zz.com" class="btn btn-default btn-lg" >Store</a>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Music releases</h2>
          <p>You can find my latest releases online. Here are the main available platforms but you might as well check on your favorite one. And if not available, please let me know which platform you use!</p>

          <ul class="list-inline banner-social-buttons">
            {% for network in site.music-releases %}
            <li>
              <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        <iframe src="https://open.spotify.com/embed/playlist/4qmX7RSTKjhcxjrOFJVTI0" width="300" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Listen to the freshest published sounds</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          <a href="https://distrokid.com/hyperfollow/j3zz1/a-drop-in-the-ocean"><img width="300px" height="300px" src="{% link img/cover_a-drop-in-the-ocean.png  %}" alt="" data-position="center center" /></a>
        </p>
        <p>
          <a href="https://distrokid.com/hyperfollow/j3zz1/a-drop-in-the-ocean" class="btn btn-default btn-lg"><span class="network-name">A Drop in the Ocean</span></a>
        </p>
        <p>
          Released on May 20,2020
          <br />
          © Watcha Studios
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          <a href="https://distrokid.com/hyperfollow/j3zz1//stereo-woods">  <img width="300px" height="300px" src="{% link img/cover_stereo-woods.png  %}" alt="" data-position="center center" /></a>
        </p>
        <p>
          <a href="https://distrokid.com/hyperfollow/j3zz1//stereo-woods" class="btn btn-default btn-lg"><span class="network-name">Stereo Woods</span></a>
        </p>
        <p>
          Released on April 13,2020
          <br />
          © Watcha Studios
        </p>
      </div>
    </div>
  </div>
</div>
</section>
